body{
background: rgb(238,174,202);
background: linear-gradient(256deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
#about{
  display: block;
  margin-top: 5em;
  margin-right: auto;
  margin-left: auto;
  width: 20rem;
  height: 25rem;
  background: #909090;
  opacity: 0.7;
  z-index: 9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.prof{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -24rem;
  background: #afafaf;
  width: 7em;
  height: 7em;
  border-radius: 100px;
  z-index: 10;
}
.profpic{
  display: block;
  margin-top: -7rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 11;
  position: relative;
  width: 7em;
  max-height: 7em;
  border-radius: 100px;
}
